@if (isLoading()){
  <p> loading </p>
} @else {

  <div class="search-box">
    <input
      [ngModel]="query()"
      (ngModelChange)="query.set($event)"
      placeholder="Search series..."
    />
    <button
      (click)="searchSeries()"
      [disabled]="!query().trim()">
      Search
    </button>

  </div>
  <div class="series">
    @for (seriesItem of series(); track seriesItem.id){
      <div class="series-card"
           [routerLink]="['/series', seriesItem.id]">

        <img alt=""
          [src]="seriesItem.poster_path
    ? 'https://image.tmdb.org/t/p/w500' + seriesItem.poster_path
    : 'assets/no-image.png'"
          loading="lazy"
        />

        <h3> {{seriesItem.name}}</h3>

        <p> {{seriesItem.overview}}</p>

        <button (click)="addToFavorites(seriesItem); $event.stopPropagation()">
           favorites ⭐
        </button>

      </div>
    }
  </div>

  <div class="pagination">

    <button (click)="prevPage()" [disabled]="page() === 1">
      previous
    </button>

    <div class="pages">
      @for (p of getPages(); track p) {
        <button
          class="page-btn"
          [class.active]="p === page()"
          (click)="goToPage(p)"
        >
          {{ p }}
        </button>
      }
    </div>

    <p class="p-pagination">
      Page {{ page() }} / {{ totalPages() }}
    </p>

    <button (click)="nextPage()" [disabled]="page() >= totalPages()">
      next
    </button>

  </div>
}
